@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand: #998DFF;
  --color-brand-light: #F4F3FF;
  --color-brand-muted: #A398FF;
  --color-hero-1: #EFEFFF;
  --color-hero-2: #D7D2FF;
  --color-feature-bg: #F6F7F4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
